<a href="https://colab.research.google.com/github/effection00/ds-section1-sprint1/blob/master/n114a_Basic_Derivative_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# ğŸ“ Assignment

## 1. Dataset ë¶ˆëŸ¬ì˜¤ê¸°
> seaborn ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ load_dataset()ì„ í™œìš©í•´ì„œ iris ë°ì´í„°ì…‹ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. ë°ì´í„°í”„ë ˆì„ì˜ ì´ë¦„ì€ df_irisë¡œ í•©ë‹ˆë‹¤. <br>
> df_irisì˜ shapeì˜ **ì²«ë²ˆì§¸ ê°’ì„ ë‘ë²ˆì§¸ ê°’ìœ¼ë¡œ ë‚˜ëˆˆ ê°’**ì„ `res1`ì— ì €ì¥í•˜ì„¸ìš”

In [399]:
import seaborn as sns
import numpy as np
np.random.seed(42)

df_iris = sns.load_dataset('iris')

res1 = df_iris.shape[0]/df_iris.shape[1]
res1
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0         5.10000      3.50000       1.40000      0.20000     setosa
1         4.90000      3.00000       1.40000      0.20000     setosa
2         4.70000      3.20000       1.30000      0.20000     setosa
3         4.60000      3.10000       1.50000      0.20000     setosa
4         5.00000      3.60000       1.40000      0.20000     setosa
..            ...          ...           ...          ...        ...
145       6.70000      3.00000       5.20000      2.30000  virginica
146       6.30000      2.50000       5.00000      1.90000  virginica
147       6.50000      3.00000       5.20000      2.00000  virginica
148       6.20000      3.40000       5.40000      2.30000  virginica
149       5.90000      3.00000       5.10000      1.80000  virginica

[150 rows x 5 columns]

## 2. X êµ¬í•˜ê¸°
> df_irisì—ì„œ sepal_lengthë§Œ ë‚¨ê²¨ì£¼ì„¸ìš”. ê·¸ë¦¬ê³  sepal_length ì¹¼ëŸ¼ì˜ ì´ë¦„ì€ xë¡œ ë°”ê¿‰ë‹ˆë‹¤

In [400]:
df_iris = df_iris.iloc[0:, 0:1]
df_iris.rename(columns={'sepal_length':'x'},inplace=True)
df_iris

          x
0   5.10000
1   4.90000
2   4.70000
3   4.60000
4   5.00000
..      ...
145 6.70000
146 6.30000
147 6.50000
148 6.20000
149 5.90000

[150 rows x 1 columns]

## 3. ê¸°ì´ˆ ë¯¸ë¶„

ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•œ ë„í•¨ìˆ˜ë¥¼ êµ¬í•œ í›„ì— num_one í•¨ìˆ˜ë¥¼ ì™„ì„±í•˜ì„¸ìš”. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one í•¨ìˆ˜ë¥¼ xì— ì ìš©í•œ í›„ì— **derivative_one**ì´ë¼ëŠ” ì¹¼ëŸ¼ìœ¼ë¡œ df_irisì— ì €ì¥í•©ë‹ˆë‹¤. (Hint : df.apply)
- derivative_one ì¹¼ëŸ¼ì˜ í•©ì„ `res2`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [411]:
import pandas as pd
from math import e  #e ì¸ì‹ ëª¨ë“ˆ
from scipy.misc import derivative


def num_one(x):
    return 4*(x**5) + 9*(x**3) + e*(x**2) - 7 

def numerical_derivative(fx, x):
    delta_x = 1e-5
    return (fx(x + delta_x) - fx(x)) / delta_x

res2 = derivative(num_one,df_iris['x'], dx=1e-5).sum()
res2= format(res2, ".3f")
res2

'4077643.108'

- ì´ë²ˆì—ëŠ” scipyì˜ [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)ë¥¼ í™œìš©í•˜ì—¬ **derivative_two** ì¹¼ëŸ¼ìœ¼ë¡œ ì €ì¥í•˜ì„¸ìš”.
  - dxëŠ” 1e-7ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
- derivative_two ì¹¼ëŸ¼ì˜ í•©ì„ `res3`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [412]:
import pandas as pd
from math import e ,sin #e ì¸ì‹ ëª¨ë“ˆ
from scipy.misc import derivative

# ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•´ì£¼ì‹œê¸° ë°”ëë‹ˆë‹¤
df_iris['derivative_two'] = derivative(num_one,df_iris['x'],dx = 1e-7)
res3 = df_iris['derivative_two'].sum()
res3 = format(res3, ".3f")
res3

'4077643.121'

In [413]:
derivative(num_one, df_iris['x'].apply(float) ,dx = 1e-7)

0     14260.39850
1     12204.51119
2     10381.34387
3      9551.24022
4     13202.18286
          ...
145   41550.69710
146   32611.80249
147   36877.33773
148   30624.25880
149   25206.66778
Name: x, Length: 150, dtype: float64

## 4. ë¯¸ë¶„ ì—°ìŠµ
>ì•„ë˜ì˜ í•¨ìˆ˜ë“¤ì„ ë¯¸ë¶„í•œ í›„ì— **x = 5**ì¼ ë•Œì˜ ê²°ê³¼ê°’ì„ `res4`, `res5`, `res6`, `res7`ì— ì €ì¥í•˜ì„¸ìš”.

 $f(x) = e^x$

In [414]:
from scipy.misc import derivative
def e_prime(x):
    return e**x # ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”
res4 = derivative(e_prime,5, dx=1e-5)
res4 = format(res4,".3f")
res4

'148.413'

$f(x) = lnx$

In [415]:
def ln_prime(x):
   return np.log(x)  # ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”

res5 = derivative(ln_prime,5, dx=1e-5)
res5 = format(res5,".1f")
res5

'0.2'

$f(x) = Sin(2x)$

In [416]:
def sine_prime(x):
    return sin(2*x) # ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”

res6 = derivative(sine_prime,5, dx=1e-5)
res6 = format(res6,".3f")
res6

'-1.678'

$f(x) = (2x^2 + 8x)^2$

In [417]:
def f_prime(x):
    return (2*x**2+8*x)**2
   
res7 = derivative(f_prime,5, dx=1e-5)
res7 = format(res7,".0f")
res7

'5040'

## 3. í¸ë¯¸ë¶„

ì£¼ì–´ì§„ `machine learning model`ì˜ `error function` ($\varepsilon$)ì´ ë‹¤ìŒê³¼ ê°™ì„ ë•Œ `error function`ì„ **ìµœì†Œí™”** í•˜ëŠ” ìµœì ì˜ `parameter`ë“¤ì„  êµ¬í•˜ì„¸ìš”. ê·¸ í›„ ê²°ê³¼ë¥¼ ê°ê° `p1`, `p2`ì— ì €ì¥í•˜ì„¸ìš”.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 == 100$

- ë‹¨ ìµœì ì˜ $p_1$ì€ $p_2$ê°€ $3$ì¼ë•Œ, ìµœì ì˜ $p_2$ëŠ” $p_1$ì´ $10$ì¼ë•Œë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ë‹ˆë‹¤.

In [491]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”
import sympy as sym

x1, x2 = sym.symbols('x1 x2', real=True)
f = (e*x1-x2)**2 + 50*x2

s1 = f.diff(x1)
s2 = f.diff(x2)
def s1(x1,x2):
 return s1
p1 = print(s1(3,10))

def s2(x1,x2):
 return s2
 p2 = print(s1(3,10))

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [457]:

def grade(res1, res2, res3, res4, res5,res6,res7, p1, p2):
    score = 0

    score += (res1 == 30.0)
    score += (res2 == 4077643.108)
    score += (res3 == 4077643.121)
    score += (round(res4, 3) == 148.413)
    score += (round(res5, 1) == 0.2)
    score += (round(res6, 3) == -1.678)
    score += (res7 == 5040)
    
    score += (p1 == 3/exp(1))
    score += (p2 == 10*exp(1)-25)
  
    return(score)

In [ ]:
round(res4, 3)

In [481]:
p1 == 3/exp(1)

False

## ğŸ”¥ ë„ì „ê³¼ì œ

### ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•˜ì„¸ìš”. ì´í›„ì— x = 3ì¼ ë•Œì˜ ê²°ê³¼ë¥¼ `challenge`ì— ì €ì¥í•˜ì„¸ìš”.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [ ]:
def sig_prime(x):
    return None # ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”.
    e -x ì œê³±