<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# üìù Assignment

# Í∞ÄÏÑ§ Í≤ÄÏ†ï

## 1. One-Sample T-test Ïó∞Ïäµ

### Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- [ÏÑúÏö∏Ïãú Í∞ÄÎ°úÏàò Îç∞Ïù¥ÌÑ∞ÏÖã](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)ÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.

Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [92]:
import pandas as pd

# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§

data = pd.read_csv('/content/report.txt',sep='\t')
data.columns = data.iloc[0]
data = data.drop([0],axis= 0)
data = data.replace({'-':0})

#ÌôïÏù∏
data.head()

0    Í∏∞Í∞Ñ  ÏûêÏπòÍµ¨    ÎÖ∏ÏÑ†Ïàò       ÏàòÎüâ     ÏùÄÌñâÎÇòÎ¨¥  ...    Î¨¥Í∂ÅÌôî    ÏÜåÎÇòÎ¨¥   Î™©Î†®    Ïù¥ÌåùÎÇòÎ¨¥      Í∏∞ÌÉÄ
1  2019  ÏÑúÏö∏Ïãú  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
2  2019  Ï¢ÖÎ°úÍµ¨     70    7,329    4,072  ...      0    239    0     711      29
3  2019   Ï§ëÍµ¨     48    8,250    3,640  ...     46  2,162    0     470     817
4  2019  Ïö©ÏÇ∞Íµ¨     39    7,835    4,444  ...      0     51  126     198     780
5  2019  ÏÑ±ÎèôÍµ¨     38    8,120    1,090  ...      0     53    0     709     646

[5 rows x 24 columns]

### "ÏÑúÏö∏ÏãúÏóêÎäî Íµ¨Î≥ÑÎ°ú ÌèâÍ∑† ÏïΩ 400 Í∑∏Î£® Ï†ïÎèÑÏùò `Ïù¥ÌåùÎÇòÎ¨¥`Í∞Ä ÏûàÎã§"ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

- Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalue Í∞íÏùÑ `pv1`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî. (`.pvalue` ÏÇ¨Ïö©)

In [93]:
import numpy as np
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§
tree1 = pd.to_numeric(data['Ïù¥ÌåùÎÇòÎ¨¥'].str.replace(',',''))

# ÏÑúÏö∏Ïãú Íµ¨Î≥Ñ Ïù¥ÌåùÎÇòÎ¨¥
tree1 = tree1.iloc[1:26]
tree1

2      711
3      470
4      198
5      709
6      760
7     1176
8      449
9      853
10     575
11      47
12     142
13     443
14     493
15    1280
16     784
17    1426
18    1082
19     184
20    1281
21     397
22     249
23     446
24     768
25    1651
26     642
Name: Ïù¥ÌåùÎÇòÎ¨¥, dtype: int64

In [94]:
from scipy import stats
import scipy
scipy.__version__
!pip install --upgrade scipy
#Ïã§Ï†ú ÌèâÍ∑†
print(np.mean(tree1))
tt_est = stats.ttest_1samp(tree1, 400)
#Í∞ÄÏÑ§ Í≤ÄÏ†ï Í≤∞Í≥º; p-value(Ïú†ÏùòÏàòÏ§Ä) 0.05(1-95%) Í∏∞Ï§Ä -- 0.002 (< 0.5)Ïù¥ÎØÄÎ°ú Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÄ Í∏∞Í∞Å

#p-value Í∞í
pv1 = tt_est.pvalue
pv1

Requirement already up-to-date: scipy in /usr/local/lib/python3.7/dist-packages (1.6.3)
Requirement already satisfied, skipping upgrade: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)
688.64

0.002470712850935819

### Ïù¥Î≤àÏóêÎäî 10Í∞úÏùò Íµ¨Î•º ÏÉòÌîåÎßÅÌïòÏó¨, ÏúÑÏóê ÎåÄÌïú Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ Îã§Ïãú ÌïúÎ≤à ÏãúÌñâÌï¥Î≥¥ÏÑ∏Ïöî.

- Îã®, ÏïÑÎûòÏùò ÏΩîÎìúÎ•º Ï∞∏Ï°∞ÌïòÏó¨ sampleÏùÑ ÏúÑÌïú seed Îäî 123Î°ú ÏÑ§Ï†ïÌïòÏÑ∏Ïöî.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalueÍ∞íÏùÑ `pv2`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî

In [95]:
import numpy as np
np.random.seed(123)

#10Í∞ú tree Ï∂îÏ∂ú
ten_tree = np.random.choice(tree1, size = 10,replace=False)  # "~"ÏôÄ " "ÏùÑ Ï†ÅÏ†àÌïú Í∞íÏúºÎ°ú Ï±ÑÏö∞ÏãúÎ©¥ Îê©ÎãàÎã§
ten_tree

array([1176,  446,  768, 1281, 1426,  575,  853,  443,  760,  709])

In [96]:
#Ïã§Ï†ú ÌèâÍ∑†
print(np.mean(ten_tree))
tt_est2 = stats.ttest_1samp(ten_tree, 400) 
#Í∞ÄÏÑ§ Í≤ÄÏ†ï Í≤∞Í≥º ; p-value(Ïú†ÏùòÏàòÏ§Ä) 0.05(1-95%) Í∏∞Ï§Ä -- 0.002 (<0.5)Ïù¥ÎØÄÎ°ú Í∑ÄÎ¨¥Í∞ÄÏÑ§ Í∏∞Í∞Å

pv2 = tt_est2.pvalue
pv2

843.7

0.0027440170444690284

## 2. Two-Sample T-test Ïó∞Ïäµ

### "ÏÑúÏö∏ÏãúÏùò Íµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÏôÄ ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÎäî Ï∞®Ïù¥Í∞Ä ÏóÜÎã§"ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

- Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalueÎ•º `pv3`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî

In [97]:
tree2 = pd.to_numeric(data['ÎäêÌã∞ÎÇòÎ¨¥'].str.replace(',',''))
tree3 = pd.to_numeric(data['ÏôïÎ≤öÎÇòÎ¨¥'].str.replace(',',''))

# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§
tree2 = tree2.iloc[1:26]
tree3 = tree3.iloc[1:26]
#ÎäêÌã∞ÎÇòÎ¨¥ ÏôïÎ≤öÎÇòÎ¨¥ Îç∞Ïù¥ÌÑ∞
tree2, tree3

(2      619
 3      460
 4      373
 5     1975
 6     1057
 7      855
 8      471
 9     1014
 10     324
 11     779
 12    1165
 13     680
 14     721
 15    3056
 16    1065
 17    2231
 18    1884
 19     407
 20    3419
 21    1421
 22     185
 23    3409
 24    2991
 25    2400
 26    2417
 Name: ÎäêÌã∞ÎÇòÎ¨¥, dtype: int64, 2      421.0
 3      289.0
 4      262.0
 5      602.0
 6      940.0
 7      747.0
 8      354.0
 9     1656.0
 10     497.0
 11    2095.0
 12    1612.0
 13    1748.0
 14     732.0
 15    1096.0
 16     956.0
 17    2508.0
 18    2157.0
 19    1123.0
 20    2952.0
 21    1127.0
 22    2416.0
 23     254.0
 24    2455.0
 25     992.0
 26    2309.0
 Name: ÏôïÎ≤öÎÇòÎ¨¥, dtype: float64)

In [98]:
#Ïã§Ï†ú ÌèâÍ∑†
print(np.mean(tree2))
print(np.mean(tree3))

#Í≤ÄÏ†ï Í≤∞Í≥º 
pv3 = stats.ttest_ind(tree2,tree3).pvalue #ÌèâÍ∑† Í∞ôÏùÑ Í≤ΩÏö∞
pv3 
# Í∑ÄÎ¨¥Í∞ÄÏÑ§ Í∏∞Í∞Å x

1415.12
1292.0

0.6455096880085703


### Two-Sample One-tailed testÎ•º ÏÇ¨Ïö©ÌïòÏó¨ **ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÍ∞Ä ÏôïÎ≤öÎÇòÎ¨¥ ÏàòÎ≥¥Îã§ ÌÅ¨Îã§**ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌïú Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.
- Ìï¥Îãπ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùò Í≤∞Í≥ºÎ•º `ans`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

Ïù¥ Îïå `ans`Í∞Ä Í∞ÄÏßà Ïàò ÏûàÎäî Í∞íÏùÄ ÏïÑÎûòÏôÄ Í∞ôÏäµÎãàÎã§ :
1. "ÎäêÌã∞ÎÇòÎ¨¥" ( ÎäêÌã∞ÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÍ≤å ÎßéÏùÄ Í≤ΩÏö∞ )
2. "ÏôïÎ≤öÎÇòÎ¨¥" ( ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÍ≤å ÎßéÏùÄ Í≤ΩÏö∞ )
3. "ÏóÜÏùå" (ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÏßÄ ÏïäÏùÄ Í≤ΩÏö∞)

Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî.
<https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy>

In [106]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§

#tree2 ÎäêÌã∞ÎÇòÎ¨¥ tree3 ÏôïÎ≤öÎÇòÎ¨¥
# Í∑ÄÎ¨¥Í∞ÄÏÑ§ ÏôïÎ≤öÎÇòÎ¨¥ >= ÎäêÌã∞ÎÇòÎ¨¥ 
pv4 = stats.ttest_ind(tree3,tree2,alternative='greater')
# one tail Îã®Ï∏°Í≤ÄÏ†ï

pv4
#Í∑ÄÎ¨¥Í∞ÄÏÑ§ Í∏∞Í∞Åx

Ttest_indResult(statistic=-0.4629256014492562, pvalue=0.6772451559957149)

In [100]:
# Ïú†ÏùòÌôïÎ•† 0.05Î≥¥Îã§ ÌÅ¨ÎØÄÎ°ú Í∑ÄÎ¨¥Í∞ÄÏÑ§ Í∏∞Í∞Åx
#ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÍ∞Ä ÏôïÎ≤öÎÇòÎ¨¥ÏàòÎ≥¥Îã§ ÌÅ¨Îã§ 

ans = 2
ans

2

## üî• **ÎèÑÏ†ÑÍ≥ºÏ†ú**
> 3Î¨∏Ï†ú Î™®Îëê ÌïòÎ©¥ Îê©ÎãàÎã§.

### 1. Compare mean for multiple-sample 
 
Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî. <https://reneshbedre.github.io/blog/anova.html>

Íµ¨Î≥Ñ, ÏùÄÌñâÎÇòÎ¨¥, ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥, ÎäêÌã∞ÎÇòÎ¨¥Ïóê ÎåÄÌï¥ÏÑú ANOVA TestÎ•º Ïã§ÌñâÌïòÏÑ∏Ïöî.

Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.

In [101]:
#Ï†ïÏàò
data['ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥'] = pd.to_numeric(data['ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥'].str.replace(',',''))
data['ÏùÄÌñâÎÇòÎ¨¥'] = pd.to_numeric(data['ÏùÄÌñâÎÇòÎ¨¥'].str.replace(',',''))
data['ÎäêÌã∞ÎÇòÎ¨¥'] = pd.to_numeric(data['ÎäêÌã∞ÎÇòÎ¨¥'].str.replace(',',''))

In [102]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§

ano_tree = data.loc[1:26,['ÏûêÏπòÍµ¨','ÏùÄÌñâÎÇòÎ¨¥','ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥','ÎäêÌã∞ÎÇòÎ¨¥']]
ano_tree
#ANOVA Î∂ÑÏÇ∞Î∂ÑÏÑù : Ïó¨Îü¨ Í∑∏Î£πÏùò ÌèâÍ∑† Ï∞®Ïù¥Í∞Ä ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÎØ∏ÌïúÏßÄ ÌåêÎã®(t-testÏôÄ ÎπÑÏä∑ÌïòÏßÄÎßå Í∑∏Î£π Ïàò 2Í∞ú Ïù¥ÏÉÅÏùº Îïå)
#ÏùºÏõêÎ∂ÑÏÇ∞Î∂ÑÏÑù?

stats.f_oneway(ano_tree['ÏùÄÌñâÎÇòÎ¨¥'],ano_tree['ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥'],ano_tree['ÎäêÌã∞ÎÇòÎ¨¥'])

F_onewayResult(statistic=0.9540411819967466, pvalue=0.38980555570120035)

### 2. Sampling

- ÏÑ∏ÏÖò ÏãúÍ∞ÑÏóê Î∞∞Ïõ†Îçò 4Í∞ÄÏßÄ sample Î∞©ÏãùÏùÑ Íµ¨ÌòÑÌï¥Î≥¥ÏÑ∏Ïöî.

- Ïù¥Î•º ÏúÑÌïú Îç∞Ïù¥ÌÑ∞Îäî 1 Î∂ÄÌÑ∞ 100 Ïù¥Î©∞, samplingÌï¥Ïïº ÌïòÎäî ÏàòÎäî 20Í∞ú ÏûÖÎãàÎã§.

- Stratified random samplingÏùÑ ÏúÑÌïú Í∑∏Î£πÏùÑ ÎÇòÎàÑÎäî Í∏∞Ï§ÄÏùÄ 1-10, 11-20, ... Í≥º Í∞ôÏùÄ Î∞©ÏãùÏûÖÎãàÎã§.

- Cluster sampling ÏùÑ ÏúÑÌïú Í∑∏Î£πÏùÑ ÎÇòÎàÑÎäî Í∏∞Ï§ÄÏùÄ 5Î°ú ÎÇòÎà¥ÏùÑÎïåÏùò ÎÇòÎ®∏ÏßÄ Í∞íÏûÖÎãàÎã§. (0,1,2,3,4)

In [103]:
from sklearn.model_selection import StratifiedShuffleSplit
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§

#Î¨¥ÏûëÏúÑ
#1.Simple random sampling
np.random.randint(1,100,size=20)

#2.Systematic sampling

#3.Stratified random sampling


#4.ÌÅ¥Îü¨Ïä§ÌÑ∞ Í∏∞Ï§ÄÏùÄ 5Î°ú ÎÇòÎàà ÎÇòÎ®∏ÏßÄ Í∞í

array([40, 67, 85, 48, 62, 49,  8, 93, 53, 98, 86, 95, 28, 35, 98, 77, 41,
        4, 70, 65])

### 3. Data transform
Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨  `Inverse transform sampling` ÏùÑ Íµ¨ÌòÑÌï©ÎãàÎã§.

<https://youtu.be/9ixzzPQWuAY>

0 ~ 1 Ïùò Í∞íÏùÑ ÎèôÏùºÌïú ÌôïÎ•†Î°ú Í∞ñÎäî `uniform distribution`ÏúºÎ°ú Î∂ÄÌÑ∞ `binomial distribution`ÏúºÎ°ú transform ÌïòÎäî ÏΩîÎìúÎ•º ÏûëÏÑ±Ìïú Îí§, ÎëêÍ∞ÄÏßÄ Í≤∞Í≥ºÎ•º ÏãúÍ∞ÅÌôîÎ•º ÌÜµÌï¥ ÎπÑÍµêÌïòÏÑ∏Ïöî.

In [104]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§

uniform distribution

SyntaxError: ignored