<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# üìù Assignment
---

# Logistic Regression

Ïù¥Î≤àÏóêÎäî [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï∫êÍ∏Ä ÌéòÏù¥ÏßÄÏóêÏÑú Ïûò ÏÇ¥Ìé¥Î≥¥ÏãúÍ≥† Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî!

### 1) Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÏ≤òÎ¶¨ ÌïòÍ≤†ÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.(read_csv ÏÇ¨Ïö©)
- id ÏπºÎüºÏùÄ dropÌïòÏÑ∏Ïöî.
- missing valueÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Ï§ëÎ≥µÎêú ÏÉòÌîåÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- **Ï§ëÎ≥µÎêú ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÎÇ®ÏùÄ ÏÉòÌîåÏùò ÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [460]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')
df

          id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0          0  18393       2     168    62.0  ...     1      0     0       1       0
1          1  20228       1     156    85.0  ...     1      0     0       1       1
2          2  18857       1     165    64.0  ...     1      0     0       0       1
3          3  17623       2     169    82.0  ...     1      0     0       1       1
4          4  17474       1     156    56.0  ...     1      0     0       0       0
...      ...    ...     ...     ...     ...  ...   ...    ...   ...     ...     ...
69995  99993  19240       2     168    76.0  ...     1      1     0       1       0
69996  99995  22601       1     158   126.0  ...     2      0     0       1       1
69997  99996  19066       2     183   105.0  ...     1      0     1       0       1
69998  99998  22431       1     163    72.0  ...     2      0     0       0       1
69999  99999  20540       1     170    72.0  ...     1      0     0       1       0

[70000 rows x 13 columns]

In [461]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

df = df.drop(['id'],axis=1)
df.info()
#missing value ÏóÜÏùå

df.duplicated().sum()
# Ï§ëÎ≥µ ÏÉòÌîå 24 Í∞ú
df = df.drop_duplicates()
# ÎÇ®ÏùÄ ÏÉòÌîåÏùò Í∞úÏàò 69976 Í∞ú

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          70000 non-null  int64
 1   gender       70000 non-null  int64
 2   height       70000 non-null  int64
 3   weight       70000 non-null  float64
 4   ap_hi        70000 non-null  int64
 5   ap_lo        70000 non-null  int64
 6   cholesterol  70000 non-null  int64
 7   gluc         70000 non-null  int64
 8   smoke        70000 non-null  int64
 9   alco         70000 non-null  int64
 10  active       70000 non-null  int64
 11  cardio       70000 non-null  int64
dtypes: float64(1), int64(11)
memory usage: 6.4 MB

### 2) Îã§Ïö¥Î°úÎìú Ìïú ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.
- ÌÉÄÍ≤ü ÌäπÏÑ±ÏùÑ ÌôïÏù∏ÌïòÍ≥† ÌÉÄÍ≤ü Î≥ÄÏàòÎ•º ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§.
- ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/test = 80/20, random_state=2)
- ÌõàÎ†®Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ùÎç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/validation = 80/20, random_state=2)
- **Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞(X_val)Ïùò Í∞ØÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [462]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###
# ÌÉÄÍ≤ü Î≥ÄÏàò ÎÇòÎàÑÍ∏∞
target = 'cardio'
X = df.drop([target],axis=1)
y = df[target]

# ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÎÇòÎàÑÍ∏∞
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 0.8, test_size=0.2, random_state=2)
X_train, X_val, y_train, y_val =  train_test_split(X_train, y_train, train_size= 0.8, test_size=0.2, random_state=2)
X_val.shape

# Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞(X_val)Ïùò Í∞ØÏàò : 11196Í∞ú

(11196, 11)

In [463]:
df

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[69976 rows x 12 columns]

### 3) ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò LogisticRegressionÏùÑ ÏÇ¨Ïö©Ìï¥ Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ Ï†ÑÏóê Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÏÑ§Ï†ïÌï©ÎãàÎã§.
- **LogisticRegression Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥†(max_iter=1000) Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [464]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
major = y_train.mode()[0]

# Í∏∞Ï§Ä Î™®Îç∏Ïùò ÏòàÏ∏°Í∞í
y_pred = [major] * len(y_train)
#y_trainÍ≥º ÎπÑÍµêÌïòÏó¨ accuracy ÎÇ¥Í∏∞
accuracy_score(y_train, y_pred)

# Ï†ÅÏñ¥ÎèÑ 00.501697034655234 Î≥¥Îã§Îäî Ï†ïÌôïÎèÑÍ∞Ä ÎÜíÏïÑÏïº Ìï®

0.501697034655234

In [465]:
#train Îç∞Ïù¥ÌÑ∞Î°ú Î™®Îç∏ ÌïôÏäµ
logistic = LogisticRegression(max_iter=1000)
logistic.fit(X_train, y_train)

# Í≤ÄÏ¶ùÏÑ∏Ìä∏Î°ú ÏòàÏ∏°Í∞í ÎÇ¥Í∏∞
y_pred = logistic.predict(X_val)
# Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ Í≥ÑÏÇ∞
accuracy_score(y_val, y_pred)

#Í≤ÄÏ¶ùÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑ : 0.7073061807788495

0.7073061807788495

### 4) Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Î≤îÏ£ºÌòï ÏÑ±ÏßàÏùÑ ÏßÄÎãå ÌäπÏÑ±ÏùÑ Ï∞æÏïÑ ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- category_encodersÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú 'gender' ÌäπÏÑ±Îßå ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- LogisticRegression Î™®Îç∏ÏùÑ Îã§Ïãú ÌïôÏäµÌï©ÎãàÎã§.
- **Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [466]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)

In [467]:
import category_encoders as ce

# gender ÌäπÏÑ±Îßå ÏõêÌï´Ïù∏ÏΩîÎî©
one_hot = ce.OneHotEncoder(cols ='gender',use_cat_names=True)
X_train_ce = one_hot.fit_transform(X_train)
X_val_ce = one_hot.transform(X_val)
X_test_ce = one_hot.transform(X_test)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [468]:
#train Îç∞Ïù¥ÌÑ∞Î°ú Î™®Îç∏ ÌïôÏäµ
logistic = LogisticRegression(max_iter=1000)
logistic.fit(X_train_ce, y_train)

# Í≤ÄÏ¶ùÏÑ∏Ìä∏Î°ú ÏòàÏ∏°Í∞í ÎÇ¥Í∏∞
y_pred = logistic.predict(X_val_ce)
# Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ Í≥ÑÏÇ∞
accuracy_score(y_val, y_pred)

#Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ : 0.6944444444444444

0.6944444444444444

### 5) ÌïôÏäµÌïú Î™®Îç∏ÏùÑ Í≤ÄÏ¶ùÏÑ∏Ìä∏ÏóêÏÑú ÏµúÏ†ÅÌôî ÏãúÌÇ® ÌõÑ, ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ÏóêÏÑú Îî± Ìïú Î≤à Ï†ïÌôïÎèÑÎ•º ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.(0.712 Ïù¥ÏÉÅ)**

In [469]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

from sklearn.preprocessing import StandardScaler

st = StandardScaler()
X_train[['age','height','weight','ap_hi','ap_lo']] = st.fit_transform(X_train[['age','height','weight','ap_hi','ap_lo']])
X_val[['age','height','weight','ap_hi','ap_lo']] = X_val_st = st.transform(X_val[['age','height','weight','ap_hi','ap_lo']])
X_test[['age','height','weight','ap_hi','ap_lo']] = st.transform(X_test[['age','height','weight','ap_hi','ap_lo']])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [470]:
logistic = LogisticRegression(max_iter=1000)
logistic.fit(X_train, y_train)

# Í≤ÄÏ¶ùÏÑ∏Ìä∏Î°ú ÏòàÏ∏°Í∞í ÎÇ¥Í∏∞
y_pred = logistic.predict(X_val)
# Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ Í≥ÑÏÇ∞
accuracy_score(y_val, y_pred)

0.723383351196856

In [471]:
final_pred = logistic.predict(X_test)
accuracy_score(y_test, final_pred)

#ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ :0.7264932837953701

0.7264932837953701

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú:

### 6) EDAÎ•º Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ÏàòÌñâÌïòÍ≥† Í∞ÄÎä•Ìïú Î∞©Î≤ïÏúºÎ°ú Î™®Îç∏ÏùÑ ÌäúÎãùÌï¥ÏÑú Í≤∞Í≥ºÎ•º ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî. ÏµúÏÜåÌïú Îã§Ïùå ÎÇ¥Ïö©Îì§Ïù¥ Ìè¨Ìï®Ïù¥ ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§.
- ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÏµúÏÜåÌïú Ìïú Í∞ú Ïù¥ÏÉÅ ÎßåÎìúÏÑ∏Ïöî.
- ÌäπÏÑ±Îì§ÏùÑ ÌôïÏù∏Ìï¥ÏÑú ÏïÑÏõÉÎùºÏù¥Ïñ¥ÎùºÍ≥† ÏÉùÍ∞ÅÎêòÎäî Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÑ ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî. (Ïó¨Îü¨Í∞ÄÏßÄ Ï¢ÖÎ•òÏùò ScalarÎ•º Ïñ¥Îñ§ ÏÉÅÌô©Ïóê Ï†ÅÏö©Ìï¥Ïïº ÌïòÎäîÏßÄ ÏïåÏïÑÎ≥¥Í≥† ÏÇ¨Ïö©Ìï¥ Î≥¥ÏÑ∏Ïöî.)
- ÎßåÎì§Ïñ¥ÏßÑ Î™®Îç∏ ÏÑ±Îä•ÏùÑ Î¶¨Ìè¨ÌåÖÌïòÍ≥† Ìï¥ÏÑùÌï©ÎãàÎã§.

In [472]:
# ÏÉàÎ°úÏö¥ ÌäπÏÑ± BMI(Ï≤¥ÏßàÎüâ ÏßÄÏàò) ÏÉùÏÑ±
import numpy as np
df['BMI'] = round(X['weight'] / np.power(0.01*df['height'],2),1)


# ÏïÑÏõÉÎùºÏù¥Ïñ¥ ÏÉòÌîå Ï†úÍ±∞
def outlier(data):
  q1,q3 = np.percentile(data, [25,75])
  iqr = q3-q1
  lower = q1-iqr
  upper = q3+iqr
  return np.where((lower>data) | (upper<data))

df = df.drop(df.iloc[outlier(df['age'])].index,axis=0)
df = df.drop(df.iloc[outlier(df['height'])].index,axis=0)
df = df.drop(df.iloc[outlier(df['ap_hi'])].index,axis=0)
df = df.drop(df.iloc[outlier(df['ap_lo'])].index,axis=0)



#feature scaling ÏÇ¨Ïö©
from sklearn.preprocessing import StandardScaler

st = StandardScaler()
df[['age','height','weight','ap_hi','ap_lo']] = st.fit_transform(df[['age','height','weight','ap_hi','ap_lo']])

df
#ÎßåÎì§Ïñ¥ÏßÑ Î™®Îç∏ ÏÑ±Îä• Î¶¨Ìè¨ÌåÖ Î∞è Ìï¥ÏÑù

            age  gender    height    weight  ...  alco  active  cardio   BMI
0     -0.446169       2  0.507063 -0.872757  ...     0       1       0  22.0
1      0.301169       1 -1.185681  0.794195  ...     0       1       1  34.9
2     -0.257197       1  0.083877 -0.727805  ...     0       0       1  23.5
3     -0.759766       2  0.648125  0.576766  ...     0       1       1  28.7
5      0.987824       1 -1.890992 -0.510376  ...     0       0       0  29.4
...         ...     ...       ...       ...  ...   ...     ...     ...   ...
69994  0.645718       1  0.083877  0.431814  ...     0       1       1  29.4
69995 -0.101213       2  0.507063  0.141909  ...     0       1       0  26.9
69996  1.267618       1 -0.903557  3.765718  ...     0       1       1  50.5
69998  1.198382       1 -0.198247 -0.147995  ...     0       0       1  27.1
69999  0.428237       1  0.789188 -0.147995  ...     0       1       0  24.9

[61541 rows x 13 columns]

In [473]:
target = 'cardio'
X = df.drop([target],axis=1)
y = df[target]


# ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÎÇòÎàÑÍ∏∞
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 0.8, test_size=0.2, random_state=2)
X_train, X_val, y_train, y_val =  train_test_split(X_train, y_train, train_size= 0.8, test_size=0.2, random_state=2)
X_val

            age  gender    height    weight  ...  smoke  alco  active   BMI
53043 -0.485674       1 -1.044619 -1.814948  ...      0     0       0  19.9
49856 -1.111647       2  1.071312  2.243719  ...      0     0       1  35.5
44437 -2.067099       1 -1.467806 -0.655329  ...      0     0       0  27.4
8421   0.611100       1  0.507063 -1.017710  ...      0     0       1  21.3
69943  1.254992       2 -0.621433 -1.380090  ...      0     0       1  21.5
...         ...     ...       ...       ...  ...    ...   ...     ...   ...
32642 -0.813933       2 -1.749930 -0.655329  ...      0     0       1  28.1
41413  0.399321       2  0.789188  3.040957  ...      1     0       1  40.1
46215 -1.067254       1 -0.762495 -0.220472  ...      0     0       1  28.1
26906  0.391990       2  0.930250 -0.147995  ...      0     0       1  24.6
18015 -1.492036       2  1.071312  0.069433  ...      0     0       1  25.4

[9847 rows x 12 columns]

In [474]:
logistic = LogisticRegression(max_iter=1000)
logistic.fit(X_train, y_train)

# Í≤ÄÏ¶ùÏÑ∏Ìä∏Î°ú ÏòàÏ∏°Í∞í ÎÇ¥Í∏∞
y_pred = logistic.predict(X_val)
# Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ Í≥ÑÏÇ∞
accuracy_score(y_val, y_pred)

0.7198131410581903

In [475]:
y_pred = logistic.predict(X_test)
# ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ Í≥ÑÏÇ∞
accuracy_score(y_test, y_pred)

0.7191485904622634

In [ ]:
#Í∏∞Ï§ÄÎ™®Îç∏ Ï†ïÌôïÎèÑ(0.501) Î≥¥Îã§ ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑÍ∞Ä ÎÇòÏôîÍ∏∞ ÎïåÎ¨∏Ïóê Ï¢ãÏùÄ ÏÑ±Îä•ÏùÑ Í∞ÄÏßÄÎäî Î™®Îç∏Ïù¥ÎùºÍ≥† Î≥º Ïàò ÏûàÎã§.