<a href="https://colab.research.google.com/github/effection00/ds-section1-sprint2/blob/master/n122a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# 📝 Assignment

# 카이제곱검정


## 1. 공공데이터 조작 연습. 

국가 통계 포털에서 아래 이미지를 참조하여

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020년 8월**에 해당하는 규모별 미분양현황 에 대한 데이터셋을 생성하세요. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60m이하`, `60~85m`, `85m초과`의 3개 규모와 (column)
- `서울`, `대전`, `대구`, `부산` 4개의 지역을 포함해야합니다. (row)
- 데이터가 없는 경우는 0으로 처리하세요.

이후 데이터셋을 colab으로 불러오세요. 이때 변수의 이름은 `df`를 사용합니다.

In [210]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [211]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/미분양 new.xlsx')

df = df.iloc[:,3:]
df.columns = ['~60m2', '60~85m2', '85m2~']
df.index = ['서울', '대전', '대구', '부산']
df

    ~60m2  60~85m2  85m2~
서울     54        2      0
대전    577      735    142
대구    143     1437     44
부산    782        1      0

## 2. 지역에 대해서 one-sample chi-square test를 실행, 해당 결과를 `chi1`에 저장 후 설명해보세요.

예시) 만약 **9월달 데이터**를 기준으로 한다면
```python
 [0+0+0+52+2+0, 0+0+0+590+665+142, 0+0+0+113+1061+42, 0+0+0+772+1+0]
```
을 비교 하게 될 것입니다.

In [212]:
sum = df.sum(axis=1)
sum

서울      56
대전    1454
대구    1624
부산     783
dtype: int64

In [213]:
from scipy.stats import stats
from scipy.stats import chi2_contingency
#귀무가설 = 지역별로 미분양의 분포는 같다
#대립가설 = 지역별로 미분양의 분포는 다르다
chi1 = chisquare(sum, axis=None)


# 값 확인
chi1

# p-value 값이 0(<0.05)이므로 귀무가설을 기각해야 한다
# 즉, 통계적으로 지역별 미분양의 분포가 다르다

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

## 3. 지역과 규모에 대해서 two-sample chi-square test를 실행, 해당 결과를 `chi2`에 저장 후 설명해보세요.

예시) **9월달 데이터**를 기준으로 한다면

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|서울|52|2|0|
|대전|772|1|0|
|대구|113|1061|42|
|부산|590|665|142|

에 대해서 검정해야 할 겁니다.

In [214]:
from scipy import stats
# two sample Chi-squared test
chi2 = stats.chi2_contingency(df)

#귀무가설 = 미분양 분포에 대해 지역과 규모는 관련이 없다
#대립가설 = 미분양 분포에 대해 지역과 규모는 관련이 있다

#결과
chi2
# p값이 0(<0.05)이므로 귀무가설 기각하며 통계적으로 지역과 규모는 관련이 있다

(2064.576731417199, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
        [577.59101353, 807.36533061,  69.04365586],
        [645.12228746, 901.76155221,  77.11616033],
        [311.04110288, 434.77789124,  37.18100587]]))

### 4. 2번에 대해서 NumPy 를 사용하여 (Scipy를 사용하지 않고) $\chi^2$ test 시행 후 2번의 결과와 비교해보세요. 

- `obs`, `exp`, `chi`라는 변수를 사용해야합니다.

이 후 `chi2_contingency()`의 결과물과 비교해보세요

In [215]:
import numpy as np

In [216]:
import numpy as np
from scipy.stats import chisquare  


obs = np.array(sum)
obs

array([  56, 1454, 1624,  783])

In [217]:
total_obs = np.sum(obs)
total_obs

3917

In [218]:
exp = total_obs/4
exp

979.25

In [219]:
squared = np.power(obs - exp,2) #obs 관찰값 exp 예상값
squared

array([852390.5625, 225387.5625, 415702.5625,  38514.0625])

In [220]:
chi = round(np.sum(squared/exp),3)
#결과
chi

1564.457

In [221]:
#2번의 카이제곱 통계치와 값이 같다
#2번 통계치 = 1564.457
#4번 통계치 = 1564.457


# p값
1 - stats.chi2.cdf(chi , 3)

0.0

## 🔥 도전 과제

아래 세가지를 다하면 됩니다.

### 1. Function

4번에서 사용한 one sample chisquare test를 함수의 형태로 변경하세요.

In [222]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    exp = np.sum(np.array(value))/len(value)
    squared = np.power(obs - exp,2)# 내용을 채우세요.
    chi = round(np.sum(squared/exp),3)
    pvalue = 1 - stats.chi2.cdf(chi , 3)
    return chi, pvalue
print(myChisq(v1))

# chisquare값과 pvalue를 출력해야합니다.

print(myChisq(v2))

(260631.85, 0.0)
(260631.85, 0.0)

### 2. ANOVA

아래 링크를 참조하여 ANOVA 에 대한 글을 읽고

<https://partrita.github.io/posts/ANOVA-python/>

다음 `4개 그룹에 대해서 평균의 차이가 있는지`에 대한 가설 검정을 시행하세요.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [223]:
import pandas as pd
name = ['A','B','C','D']

df2 = pd.DataFrame([[38, 33, 35, 92, 76, 97, 88, 41, 11,9],[18, 52, 62, 48, 30, 40, 87, 12, 97, 82],
                    [28, 90, 5, 49, 66, 73, 96, 80, 4, 17],[8, 99, 4, 12, 7, 64, 18, 10, 9, 20]], index = name)
df2 = df2.transpose()
df2

    A   B   C   D
0  38  18  28   8
1  33  52  90  99
2  35  62   5   4
3  92  48  49  12
4  76  30  66   7
5  97  40  73  64
6  88  87  96  18
7  41  12  80  10
8  11  97   4   9
9   9  82  17  20

In [224]:
from scipy.stats import f_oneway
fstat, p_val = f_oneway(df2['A'], df2['B'], df2['C'], df2['D'])
fstat, p_val

#귀무가설 : A,B,C,D 그룹의 평균은 차이가 없다
#대립가설 : A,B,C,D 그룹의 평균은 차이가 있다
# P값이 0.179(>0.05)이므로 A,B,C,D 그룹의 평균은 통계적으로 차이가 없다

(1.7249594239128412, 0.17920877113948797)

## 3. Sign Test

아래 링크를 참조하여 Sign Test에 대한 글을 읽고

<https://en.wikipedia.org/wiki/Sign_test>

다음 데이터에서 두 그룹간에 차이가 있다에 대한 Sign Test의 과정과 결과를 설명하세요

|A|B|
|:-:|:-:|
|142|138|
|140|136|
|144|147|	
|144|139|	
|142|143|	
|146|141|	
|149|143|	
|150|145|	
|142|136|	
|148|146|

In [225]:
#귀무가설 : 두 데이터 간에 차이가 없다
#대립가설 : 두 데이터 간에 차이가 있다
df3 = pd.DataFrame(data= {'A':[142,	140, 144,144, 142, 146, 149, 150, 142, 148],
                          'B':[138,136,147,139,143,141,143,145,136,146]})

df3

from scipy.stats import wilcoxon
df3['A-B'] = df3['A'] - df3['B']
df3

     A    B  A-B
0  142  138    4
1  140  136    4
2  144  147   -3
3  144  139    5
4  142  143   -1
5  146  141    5
6  149  143    6
7  150  145    5
8  142  136    6
9  148  146    2

In [226]:
#부호검정
(df3['A-B'] < 0).sum()

2

In [227]:
(df3['A-B'] > 0).sum()

8

In [228]:
#귀무가설 :A,B는 차이가 없다
#대립가설 :A,B는 차이가 있다

# "-" 2개와 "+" 8개 이므로 10개의 동전 중 0,1,2,8,9,10개가 다를 확률을 이항검정을 사용해 찾음
from scipy.stats import binom
sign = [binom.pmf(k=0, n=10 , p=0.5),binom.pmf(k=1, n=10 , p=0.5),binom.pmf(k=2, n=10 , p=0.5),
        binom.pmf(k=8, n=10 , p=0.5),binom.pmf(k=9, n=10 , p=0.5),binom.pmf(k=10, n=10 , p=0.5)]

#p-값
np.sum(sign)
# 0.109(> 0.05)이므로 통계적으로 A,B는 차이가 없다.

0.10937500000000001

In [229]:
#Wilcoxon 부호 순위 검정
from scipy.stats import wilcoxon

wilcoxon(df3['A'],df3['B'])
# 윌콕슨 부호검정은 더 큰 검정력을 가지므로 pvalue=0.016로 통계적으로 A,B는 차이가 있다

WilcoxonResult(statistic=4.0, pvalue=0.016184453851159696)