<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 3 / NOTE 1*

# 📝 Assignment
---
# Choose your ML problems

이번 스프린트에서는 포트폴리오 프로젝트를 위해 수강생 각자가 정한 데이터셋을 사용하여 과제를 수행합니다. 프로젝트를 위한 데이터를 최종 선택하기 전에 여러 가능한 데이터세트를 살펴보고 간단한 모델까지 학습해 보는 것을 추천드립니다.

### 1) 타겟으로 사용할 특성을 선택합니다.
- **(객관식) 다음 중 설명이 올바른 항목을 선택하고 과제 제출폼에 제출하세요.**
    - 특성 3개를 사용해 가장 성능이 좋은 모델 A를 만들고 또 특성 5개를 사용해 최적의 모델 B를 학습하였습니다. 이때 모델 A에서 선택된 특성은 A1, A2, A3 입니다.
    1. 최적의 모델 B에는 특성 A1, A2, A3가 항상 선택됩니다.
    2. 최적의 모델 B 학습시 특성 A1, A2, A3는 전혀 사용되지 않습니다.
    3. 최적의 모델 B에 특성 A1, A2, A3가 선택될지 알 수 없습니다.

In [4]:
### 이곳에서 과제를 진행해 주세요 ### 

# 객관식 답 == 1

from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
pd.read_csv("/content/drive/MyDrive/연체전략관리_연체내역(코드 상세설명).csv")

Mounted at /content/drive

      상품코드              상품명
0   D01001      일반상환학자금_등록금
1   D01002      일반상환학자금_생활비
2   D01003   일반상환학자금_등록금생활비
3   D01004  일반상환학자금_WEST연수비
4   D01005    일반상환학자금_나라지킴이
5   D02001     취업후상환학자금_등록금
6   D02002     취업후상환학자금_생활비
7   D05001       은행대출보증_등록금
8   D05002       은행대출보증_생활비
9   D05003    은행대출보증_등록금생활비
10  D01999       일반학자금 든든전환
11  D01011    한국장학재단 일반전환대출
12  D01998      한국장학재단 전환대출
13  D02011    한국장학재단 든든전환대출
14  D01991    일반학자금_등록금(분납)
15  D02991    든든학자금_등록금(분납)

In [31]:
df = pd.read_csv("/content/drive/MyDrive/연체전략관리_연체내역.csv",encoding='euc-kr')
df

           기준년월    상품코드  대출년도  대출학기  ...  대출거치기간월수  거치경과개월수  거치잔여개월수  상환경과개월수
0       2020-12  D01001  2009     2  ...        60        0        0       75
1       2020-12  D01001  2009     2  ...        60        0        0       75
2       2020-12  D01001  2009     2  ...        60        0        0       75
3       2020-12  D01001  2009     2  ...        24        0        0      111
4       2020-12  D01001  2009     2  ...       120        0        0       15
...         ...     ...   ...   ...  ...       ...      ...      ...      ...
720535  2020-12  D05003  2009     1  ...        96        0        0       46
720536  2020-12  D05003  2009     1  ...       108        0        0       34
720537  2020-12  D05003  2009     1  ...        48        0        0       94
720538  2020-12  D05003  2009     1  ...        48        0        0       94
720539  2020-12  D05003  2009     1  ...        48        0        0       94

[720540 rows x 12 columns]

In [37]:
# 타겟 생성
df.loc[(df['등록금잔액'] == 0)&(df['생활비용잔액'] == 0),'상환여부'] = 0 
df.loc[((df['등록금잔액'] > 0)|(df['생활비용잔액'] > 0))&(df['상환경과개월수']>0),'상환여부'] = 1

In [55]:
# 타겟 선택
target = df['상환여부']
target

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
720535    1.0
720536    1.0
720537    1.0
720538    1.0
720539    1.0
Name: 상환여부, Length: 720540, dtype: float64

In [51]:
train_X = df[['상품코드', '대출기간월수','대출거치기간월수']]
train_X

### 2) 풀고자 하는 문제가 분류/회귀 문제인지 정합니다.
- **(객관식) 다음 설명 중 가장 틀린 항목을 선택하고 과제 제출폼에 제출하세요.**
    1. 특정한 종목의 다음날 주식 종가를 예측하는 문제는 Supervised Learning 문제이다.
    2. 다음날 KOSPI 지수가 증가할지 감소할지 예측하는 문제는 Classification 문제이다.
    3. 축구 경기 도중에 승패를 예측하는 모델을 만들기 위해서는 실시간 통계 정보와 경기마다 승패 데이터가 필요하다.
    4. 이번 시즌 토트넘 선수들의 개인 통계 데이터(슛, 도움, ...)를 사용해서 다음 토트넘 경기의 승패를 예측할 수 있다.

In [54]:
### 이곳에서 과제를 진행해 주세요 ### 

# 객관식 답 ==  2번 

#  df['상환여부'] 으로 타겟 값이 0,1로 나뉘므로 분류 문제라고 볼 수 있다
df['상환여부'].value_counts()

1.0    717060
0.0      3480
Name: 상환여부, dtype: int64

### 3) 타겟의 분포를 분석하고 사용할 평가지표를 선택합니다. 평가지표를 선택한 이유를 설명하세요.
- 분류: 클래스가 몇 개인지? 클래스 비율이 어떤지(balance or imbalance)
- 회귀: 타겟 분포가 right-skewed 인지? log-transform을 사용할 것인지?
- 분류: 다수 클래스(majority class) 비율이 50%~70% 인 경우 정확도(accuracy)만 사용해도 무방합니다. 하지만 범위를 넘어설 경우 정확도만을 사용해서는 모델을 잘못 이해할 수 있습니다. 어떤 평가지표를 사용해야 할까요?
- 회귀: MAE, RMSE, R^2 등을 사용할 수 있습니다.
- **(객관식) 같은 데이터로 스팸을 예측하는 모델 A와 B를 만들었습니다. 다음 설명 중 가장 올바른 항목을 선택하고 과제 제출폼에 제출하세요.**
    1. A의 재현율은 80%이고 B의 재현율은 60%일 때 A가 더 좋은 모델이다.
    2. A의 정밀도는 80%이고 B의 정밀도는 60%일 때 A가 더 좋은 모델이다.
    3. A는 B보다 정밀도는 높지만 재현율은 낮다. A가 더 좋은 모델이다.
    4. A는 B보다 재현율은 높지만, 정밀도는 낮다. A가 더 좋은 모델이다.
    5. A는 B보다 정밀도, 재현율 모두 높다. A가 더 좋은 모델이다.

In [ ]:
### 이곳에서 과제를 진행해 주세요 ### 
# f1 score 선택
#클래스가 2개이며 비율이 1(연체고객) 쪽으로 쏠려서 클래스 불균형이 일어난다
#클래스 불균형일 경우 정확도와 정밀도는 높고 재현율이 크게 떨어지는 경향이 있다
# 그러므로 f1 score를 평가지표로 정하고 precision과 recall의 조화평균으로 성능을 측정해야한다

#객관식 답 === 4

## 🔥 도전과제

### 4) 데이터를 훈련/검증/테스트 데이터로 나누고 전처리를 수행합니다. 그리고 간단한 모델을 사용해서 학습을 수행합니다.
- 이상치(outliers)가 있다면 어떻게 처리할 것인지 설명합니다.
- 무작위로 or 시간에 따라 데이터를 나눌 것인지 설명합니다.
- 모델 학습 결과를 리포팅 합니다.
- 정보 누수(leakage)가 있는지 확인해 봅니다.

In [ ]:
### 이곳에서 과제를 진행해 주세요 ###